body {
    background-color: #b5f4ff;
}

h1 {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #007bff;
    border: 2px solid black;
    border-radius: 5px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: aquamarine;
}

#contenido {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h2 {
    font-size: 35px;
}

#contenido p {
    font-size: 20px;
    color: red;
    margin-bottom: 40px;
}

#contenido img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
